body {
    background-color: #fdfdfd;
    color: #0d0d0d;
    font-family: 'Satoshi', sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
}

main{
    margin: 0 20px 20px 20px;
}

/* nav css */

nav{
    background-color: #0d0d0d;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input{
    all: unset;
    width: 100%;
}

.material-symbols-rounded {
    font-family: 'Material Symbols Rounded';
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
}

.logo{
    display: flex;
    justify-content: center;
}

img {
    width: 80%;
    height: auto;
    padding: 20px;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    font-size: 16px;
    color: #fdfdfd;

    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.settings{
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: space-around;
    font-size: 40px;
    color: #fdfdfd;
}

.canvas{
    display: flex;
    justify-content: center;
}

/* main */

.title{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

h1, h2, h3{
    margin: 0;
}

/* preview css */
.preview_custom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px 0 20px;
}
/* preferences css */

.preferences{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.start-stop{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.action-options{
    display: flex;
    gap: 5px;
}

#startButton, #stopButton{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    font-weight: bold;
    padding: 10px;
}

#startButton{
    color: #0d0d0d;
    background-color: #69ff47;
}

#stopButton{
    color: #fdfdfd;
    background-color: #0d0d0d;
}

.color{
    display: flex;
    justify-content: space-between;
    margin: 0 10px 10px 10px;
    flex-direction: column;
}

.color-options{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    font-size: 20px;
}

#options{
    margin: 2px;
}

.size-options, #part-options {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px;
}

.size-options select, #part-options select{
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #0d0d0d;
    background-color: #fdfdfd;
    color: #0d0d0d;
}

.material-button{
    padding: 5px 10px;
    background-color: #0d0d0d;
    color: #fdfdfd;
    border-radius: 10px;
    font-weight: bold;
    margin: 10px;
}

.material-button:hover{
    background-color: #69ff47;
    color: #0d0d0d;
}

.place_order_btn > a{
    color: #0d0d0d;

    background-color: #d6d6d6;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    font-weight: bold;
    padding: 10px 20px;
}

.place_order_btn > a:hover{
    background-color: #69ff47;
    color: #0d0d0d;
}

.color-circle{
    width: 20px; 
    height: 20px; 
    border-radius: 50%; 
    display: inline-block; 
    margin: 5px; 
    border: 2px solid #0d0d0d;
}

/* color css */

[data-color="Black"]{
    background-color: Black;
}

[data-color="White"]{
    background-color: White;
}

[data-color="Red"]{
    background-color: Red;
}

[data-color="Blue"]{
    background-color: Blue;
}

[data-color="Green"]{
    background-color: Green;
}

[data-color="Yellow"]{
    background-color: Yellow;
}

[data-color="Orange"]{
    background-color: Orange;
}

[data-color="Purple"]{
    background-color: Purple;
}

[data-color="Brown"]{
    background-color: Brown;
}

#shoeName{
    width: auto;
    border-radius: 10px; 
    margin: 5px; 
    padding: 5px 10px;
    border: 2px solid #0d0d0d;
}

/* Order confirmation */

.order-confirmation{
    text-align: center; 
    margin-top: 200px;
}

.order-confirmation h1{
    padding: 20px;
}

.home-btn{
    color: #0d0d0d;

    background-color: #69ff47;
    border-radius: 10px;
    font-weight: bold;
    margin: 20px;
    padding: 10px 20px;
}