body {
    background-color: #fdfdfd;
    color: #0d0d0d;
    font-family: 'Satoshi', sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
}

main{
    margin: 0 20px 20px 20px;
}

.material-symbols-rounded {
    font-family: 'Material Symbols Rounded';
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
}

/* nav css */

nav{
    background-color: #0d0d0d;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    justify-content: center;
}

img {
    width: 80%;
    height: auto;
    padding: 20px;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    font-size: 16px;
    color: #fdfdfd;

    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.settings{
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: space-around;
    font-size: 40px;
    color: #fdfdfd;
}

/* login */

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.login h1{
    font-size: 4rem;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 800;
}

.username, .password{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    color: #757575;
}

.login input:focus {
    border-color: #69ff47;
}

.login input{
    border: 1px solid #69ff47;
    outline: none;
    background-color: transparent;
    font-size: 1em;
    padding: 8px 0px;
}

.login-btn{
    margin-top: 40px;
    font-weight: 500;

    padding: 8px 34px;
    background-color: #cccccc;
    color: #ffffff;
}

.login-btn:hover{
    background-color: #69ff47;
}

#submit{
    color: #0d0d0d;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    justify-content: center;
}